body#home-page .intro-section .logo {
	width: 200px;
	height: 44px
}

body#home-page .intro-section h1 {
	font-size: 28px;
	line-height: 35px;
	margin: 30px 0 20px;
	padding: 0
}

body#home-page .intro-section h2 {
	font-size: 16px;
	line-height: 25px;
	font-family: Hind, sans-serif;
	font-weight: 400;
	color: #97a3ab;
	margin-bottom: 30px;
	padding: 0
}


.no-js [data-responsive-menu] ul {
	display: none
}

.no-js .dropdown.menu ul {
	display: none
}

textarea {
	max-width: 100%
}

textarea[rows] {
	height: auto
}

.row {
	max-width: 62.5rem;
	margin-right: auto;
	margin-left: auto
}

.row::after,
.row::before {
	display: table;
	content: ' ';
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-order: 1;
	order: 1
}

.row::after {
	clear: both
}

.row.collapse>.column,
.row.collapse>.columns {
	padding-right: 0;
	padding-left: 0
}

.row .row {
	margin-right: -.9375rem;
	margin-left: -.9375rem
}

@media print,
screen and (min-width:40em) {
	.row .row {
		margin-right: -.9375rem;
		margin-left: -.9375rem
	}
}

@media print,
screen and (min-width:64em) {
	.row .row {
		margin-right: -.9375rem;
		margin-left: -.9375rem
	}
}

.row .row.collapse {
	margin-right: 0;
	margin-left: 0
}

.row.expanded {
	max-width: none
}

.row.expanded .row {
	margin-right: auto;
	margin-left: auto
}

.row:not(.expanded) .row {
	max-width: none
}

@media print,
screen and (min-width:40em) {
	
	.medium-offset-0 {
		margin-left: 0
	}

	.medium-offset-1 {
		margin-left: 8.33333%
	}

	.medium-offset-2 {
		margin-left: 16.66667%
	}

	.medium-10 {
		width: 83.33333%
	}

	.medium-push-10 {
		position: relative;
		left: 83.33333%
	}

	.medium-pull-10 {
		position: relative;
		left: -83.33333%
	}

	.medium-11 {
		width: 91.66667%
	}

	.medium-push-11 {
		position: relative;
		left: 91.66667%
	}

	.medium-pull-11 {
		position: relative;
		left: -91.66667%
	}

}

@media print,
screen and (min-width:64em) {
	.large-6 {
		width: 50%
	}

	.large-push-6 {
		position: relative;
		left: 50%
	}
}

footer,
footer .back-to-top {
	background: #000;
	border-top: 1px solid #464d53
}

footer {
	margin-top: 30px;
	padding: 80px 0 60px
}

@media screen and (min-width:40em) {
	footer {
		margin-left: 1px
	}
}

footer .back-to-top {
	text-align: center;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	width: 40px;
	height: 28px;
	margin: -108px auto 0
}

@media screen and (max-width:39.9375em) {
	footer {
		padding: 40px 25px;
		text-align: center
	}

	footer .back-to-top {
		margin-top: -68px
	}
}

footer .back-to-top a {
	padding: 0 10px;
	display: block
}

footer .back-to-top img {
	width: 12px;
	height: 10px;
	margin-top: 5px;
	text-align: center
}

footer h3 {
	font-size: 16px;
	margin: 0 0 20px;
	padding: 0
}

footer h3 a,
footer ul li a:hover {
	color: #fff
}

footer h3 a:hover,
footer ul li a {
	color: #97a3ab
}

footer ul {
	padding: 0 0 20px;
	margin: 0 15px 0 0;
	list-style: none
}

@media screen and (max-width:39.9375em) {
	footer ul {
		margin: 0
	}
}

footer ul li {
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 12px
}

footer .footer-bottom-links {
	margin-top: 40px
}

@media screen and (max-width:39.9375em) {
	footer .footer-bottom-links {
		margin-top: 0
	}
}

footer .footer-bottom-links .footer-logo {
	float: left;
	width: 215px;
	height: 29px;
	margin: 0 50px 10px 0
}

@media screen and (max-width:39.9375em) {
	footer .footer-bottom-links .footer-logo {
		margin: 20px 0;
		float: none;
		text-align: center
	}
}

footer .footer-bottom-links ul {
	padding: 0;
	margin: 0;
	list-style: none;
	float: left
}

footer .footer-bottom-links ul li {
	display: inline-block;
	line-height: 29px;
	color: #97a3ab
}

footer .footer-bottom-links ul li:after {
	content: "|";
	margin: 0 12px
}

@media screen and (max-width:39.9375em) {
	footer .footer-bottom-links ul {
		float: none
	}

	footer .footer-bottom-links ul li {
		text-align: center;
		display: block
	}

	footer .footer-bottom-links ul li:after {
		content: '';
		margin: 0
	}
}

footer .footer-bottom-links ul li a {
	color: #97a3ab
}

footer .footer-bottom-links ul li a:hover {
	color: #fff
}

footer .footer-bottom-links ul li:last-child:after {
	content: ""
}

@media screen and (max-width:0em),
screen and (min-width:40em) {
	.show-for-small-only {
		display: none !important
	}
}

